body {
    background-color: lightblue;
    font-size: 1.2em;
}

#remember-me {
    float: left;
}

.textbook-text {
    font-size: 1.5em;
    line-height: 1.3;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    color: #424242;
    max-width: 34em;
    margin: auto;
    padding: 0 1em;
}

.has-error {
    border: solid 1px;
    color: lightcoral;
}

input[type=text]:focus:not([readonly]),

.clearfix {
  overflow: auto;
}

.form-wrapper {
    display: inline-block;
}

.textbook-text.loading {
    display: none;
}

.input-field label {
    font-size: 1.2rem;
}
